# changelog
changes.txt

# config
/config/config.ini

# caches
/checker/__pycache__/
/cronjob/__pycache__/

# IDEs etc.
/.idea
/.venv

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
