[NeuCore]
AppID = 
AppSecret = 
AppURL = 
;Please include a trailing / in the URL; for example https://neucore.com/

[Authentication]
ClientID = 
ClientSecret = 
ClientScopes = esi-fleets.read_fleet.v1 esi-fleets.write_fleet.v1
;Client Scopes is a string of space-separated scopes for the FC login process. This site requires:
;esi-fleets.read_fleet.v1
;esi-fleets.write_fleet.v1
ClientRedirect = http://localhost/eveauth/

[Database]
DatabaseServer = 127.0.0.1
;When using a MySQL Server on localhost you may need to use 127.0.0.1 instead for this variable.
DatabasePort = 2580
DatabaseUsername = 
DatabasePassword = 
DatabaseName = EveOverseer
;This database will be created automatically on connection, it does not need to be created manually.

[Website]
SiteURL = 
;Please do NOT include a trailing / in the Site URL; for example https://localhost:8080
SuperAdmins = 123456789, 987654321
;Super Admins is a set of comma-separated character IDs in integer form. No comma required for only one group name.
SessionTime = 43200
;Session Time is an integer of seconds after logging in that a character's session will be invalidated.
MaxTableRows = 2500
;Max Table Rows is the maximum amount of rows a table will display. This will also influence how many fleets the cronjob checks for participation stats.
StoreVisitorIPs = false